.chatheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
}

.chatheader_left > h3 {
  display: flex;
  align-items: center;
  color: #fff;
}

.chatheader_hash {
  font-size: 30px;
  padding: 10px;
  color: grey;
}

.chatheader_right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chatheader_right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chatheader_right > .MuiSvgIcon-root:hover {
  color: #fff;
}

.chatheader_search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chatheader_search > input {
  background: transparent;
  outline-width: 0;
  color: #fff;
  border: none;
}
